
// @use "sass:list"
@use "sass:color"
@use "terminaux"


// 
//  FONTS
//
// Sourced from fonts.google.com
//

/* Ubuntu, Ubuntu Sans, Ubuntu Condensed, Ubuntu Mono */
.ubuntu-light 
  font-family: "Ubuntu", sans-serif
  font-weight: 300
  font-style: normal


.ubuntu-regular 
  font-family: "Ubuntu", sans-serif
  font-weight: 400
  font-style: normal


.ubuntu-medium 
  font-family: "Ubuntu", sans-serif
  font-weight: 500
  font-style: normal


.ubuntu-bold 
  font-family: "Ubuntu", sans-serif
  font-weight: 700
  font-style: normal


.ubuntu-light-italic 
  font-family: "Ubuntu", sans-serif
  font-weight: 300
  font-style: italic


.ubuntu-regular-italic 
  font-family: "Ubuntu", sans-serif
  font-weight: 400
  font-style: italic


.ubuntu-medium-italic 
  font-family: "Ubuntu", sans-serif
  font-weight: 500
  font-style: italic


.ubuntu-bold-italic 
  font-family: "Ubuntu", sans-serif
  font-weight: 700
  font-style: italic


.ubuntu-mono-regular 
  font-family: "Ubuntu Mono", monospace
  font-weight: 400
  font-style: normal


.ubuntu-mono-bold 
  font-family: "Ubuntu Mono", monospace
  font-weight: 700
  font-style: normal


.ubuntu-mono-regular-italic 
  font-family: "Ubuntu Mono", monospace
  font-weight: 400
  font-style: italic


.ubuntu-mono-bold-italic 
  font-family: "Ubuntu Mono", monospace
  font-weight: 700
  font-style: italic


.ubuntu-sans-400 
  font-family: "Ubuntu Sans", sans-serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal
  // font-variation-settings:
    // "wdth" 100


/* Flow Circular */
.flow-circular-regular 
  font-family: "Flow Circular", system-ui
  font-weight: 400
  font-style: normal


/* Redacted Script */
.redacted-script-regular 
  font-family: "Redacted Script", cursive
  font-weight: 400
  font-style: normal


/* Victor Mono */
.victor-mono-400 
  font-family: "Victor Mono", monospace
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal


/* Fira Code */
.fira-code-400 
  font-family: "Fira Code", monospace
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal


//
//  DEFAULTS
// Sets the page defaults for global theme.
//

:root
  
  /* colors come from https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */
  --color-pink: #FFC6FF
  --color-purple: #BDB2FF
  --color-red: #FFADAD
  --color-orange: #FFD6A5
  --color-yellow: #FDFFB6
  --color-green: #CAFFBF
  --color-teal: #9BF6FF
  --color-blue: #A0C4FF

  --font-site-title:  "Victor Mono";      /* name of site text */
  --font-article:     "Victor Mono";      /* article body text */
  --font-input:       "Fira Code";        /* input and placeholder text */
  --font-code:        "Fira Code";        /* code block text */
  --font-suspense:    "Flow Circular";    /* application suspense font (which shows bars in place of loading text) */
  --font-redact:      "Redacted Script";  /* application redaction/suspense/sample font (for anything not readable) */

a:not(.link, .btn)

  color: var(--color-primary)
  background-color: unset
  font-weight: bold
  text-decoration: underline
  transition: color, background-color
  transition-duration: .25s
  transition-timing-function: ease-in-out

  &:hover, &:focus
    color: var(--color-primary-content)
    background-color: var(--color-primary)

  
svg
  display: unset

img
  display: unset

html 
  color: var(--color-base-content)
  background-color: var(--color-base-100)
  height: 100%


body 
  font-family: Victor Mono, sans-serif
  margin: 0
  height: 100%

h1, h2, h3, h4, h5, h6
  font-family: 'Victor Mono'
  font-style: italic
  margin: 1rem

h1
  font-size: 2rem
  text-align: center
h2
  font-size: 1.75rem
h3
  font-size: 1.5rem
h4
  font-size: 1.25rem
h5
  border-bottom: 2px dashed var(--color-neutral)
h6
  border-bottom: 2px dotted var(--color-neutral)

p 
  margin-top: 1rem
  margin-bottom: 1rem

li:not(.list-row)
  margin: .75rem

  &::before
    content: " ‒  "

hr
  border-top: 2px solid var(--color-neutral)
  margin: 2rem


.accessibility
  font-family: 'Ubuntu Sans'
  font-weight: bold
  font-size: 1.2rem

.tooltip
  display: inline-block
  position: relative
  cursor: help

  & > span
    color: #AAA
    position: absolute
    visibility: hidden
    opacity: 0
    right: -175%
    bottom: 22%
    z-index: 1
    transition: opacity .3s

  &:hover span, &:active span, &:focus
    visibility: visible
    opacity: 1

.suspense
  color: var(--color-base-300)
  font-family: Flow Circular
  animation: 1s ease-in-out suspense infinite both
  animation-name: suspense
  user-select: none

@keyframes suspense
  0% 
    color: var(--color-base-300)
  50% 
    color: var(--color-base-100)
  100% 
    color: var(--color-base-300)
