
// @use "sass:list"
@use "sass:color"
@use "terminaux"


// 
//  FONTS
//
// Sourced from fonts.google.com
//

/* Barlow Condensed */
.barlow-condensed-thin 
  font-family: "Barlow Condensed", sans-serif
  font-weight: 100
  font-style: normal

  
.barlow-condensed-light 
  font-family: "Barlow Condensed", sans-serif
  font-weight: 300
  font-style: normal


.barlow-condensed-semibold 
  font-family: "Barlow Condensed", sans-serif
  font-weight: 600
  font-style: normal


.barlow-condensed-bold 
  font-family: "Barlow Condensed", sans-serif
  font-weight: 700
  font-style: normal


/* Dosis */
.dosis-400 
  font-family: "Dosis", sans-serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal


/* Ubuntu, Ubuntu Sans, Ubuntu Condensed, Ubuntu Mono */
.ubuntu-light 
  font-family: "Ubuntu", sans-serif
  font-weight: 300
  font-style: normal


.ubuntu-regular 
  font-family: "Ubuntu", sans-serif
  font-weight: 400
  font-style: normal


.ubuntu-medium 
  font-family: "Ubuntu", sans-serif
  font-weight: 500
  font-style: normal


.ubuntu-bold 
  font-family: "Ubuntu", sans-serif
  font-weight: 700
  font-style: normal


.ubuntu-light-italic 
  font-family: "Ubuntu", sans-serif
  font-weight: 300
  font-style: italic


.ubuntu-regular-italic 
  font-family: "Ubuntu", sans-serif
  font-weight: 400
  font-style: italic


.ubuntu-medium-italic 
  font-family: "Ubuntu", sans-serif
  font-weight: 500
  font-style: italic


.ubuntu-bold-italic 
  font-family: "Ubuntu", sans-serif
  font-weight: 700
  font-style: italic


.ubuntu-condensed-regular 
  font-family: "Ubuntu Condensed", sans-serif
  font-weight: 400
  font-style: normal


.ubuntu-mono-regular 
  font-family: "Ubuntu Mono", monospace
  font-weight: 400
  font-style: normal


.ubuntu-mono-bold 
  font-family: "Ubuntu Mono", monospace
  font-weight: 700
  font-style: normal


.ubuntu-mono-regular-italic 
  font-family: "Ubuntu Mono", monospace
  font-weight: 400
  font-style: italic


.ubuntu-mono-bold-italic 
  font-family: "Ubuntu Mono", monospace
  font-weight: 700
  font-style: italic


.ubuntu-sans-400 
  font-family: "Ubuntu Sans", sans-serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal
  // font-variation-settings:
    // "wdth" 100


/* Flow Circular */
.flow-circular-regular 
  font-family: "Flow Circular", system-ui
  font-weight: 400
  font-style: normal


/* Redacted Script */
.redacted-script-regular 
  font-family: "Redacted Script", cursive
  font-weight: 400
  font-style: normal


/* Victor Mono */
.victor-mono-400 
  font-family: "Victor Mono", monospace
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal


/* Fira Code */
.fira-code-400 
  font-family: "Fira Code", monospace
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal


//
//  DEFAULTS
// Sets the page defaults for global theme.
//

:root 
  
  --color-brightwhite: #FFF
  
  --color-offwhite: #EEE
  
  --color-deepblack: #222
  --color-deeperblack: #111
  --color-vantablack: #000
  
  /* colors come from https://coolors.co/ffadad-ffd6a5-fdffb6-caffbf-9bf6ff-a0c4ff-bdb2ff-ffc6ff-fffffc */
  --color-selectables-pink: #FFC6FF
  --color-selectables-purple: #BDB2FF
  --color-selectables-red: #FFADAD
  --color-selectables-orange: #FFD6A5
  --color-selectables-yellow: #FDFFB6
  --color-selectables-green: #CAFFBF
  --color-selectables-teal: #9BF6FF
  --color-selectables-blue: #A0C4FF

  --color-selectables-idle: var(--color-offwhite)
  --color-selectables-active: #FFF
  --color-selectables-disabled: #AAA
  
  --color-logo-grad1: #ff92c5
  --color-logo-grad2: #ffb0d5
  --color-logo-grad3: #da74a3


a

  color: var(--color-selectables-blue)
  box-shadow: none
  background-color: none
  text-decoration: none
  font-weight: bolder
  transition: color background-color box-shadow
  transition-duration: .25s
  transition-timing-function: ease-in-out
  padding-left: .3rem
  padding-right: .3rem

  &:disabled
    color: var(--color-selectables-disabled)
    cursor: pointer

  &:hover, &:focus
    color: var(--color-vantablack)
    background-color: var(--color-selectables-active)

  &.without-link-symbol::before,
  &.without-link-symbol::after
    content: none

  &::before
    content: "[ "
  
  &::after 
    content: " ]"

  // Changes link style for KoFi Markdown button
  &[href^="https://ko-fi.com"], &[href^="https://github.com/sponsors/"]
    padding: unset
    opacity: .8
    transition: opacity .25s
    &:hover, &:focus
      background-color: unset
      opacity: 1
    &::before
      content: none
    &::after
      content: none

  & > svg
    transform: translateY(.1rem)
    margin-right: .3rem

  // &:any-link::after:hover,
  // &:any-link::after:active,
  // &:any-link::after:focus
  //   color: var(--color-vantablack)
  //   background-color: var(--color-brightwhite)

button
  display: flex
  align-items: center
  justify-content: center
  color: var(--color-vantablack)
  background-color: var(--color-selectables-idle)
  border: .25rem solid var(--color-vantablack)
  border-radius: .5rem
  font-family: 'Ubuntu Sans'
  font-size: 1rem
  cursor: pointer
  padding: .5rem
  // width: min-content
  // height: min-content
  transition: color .25s, background-color .25s, border-color .25s

  &:hover, &:focus
    color: var(--color-selectables-active)
    background-color: var(--color-vantablack)
    border-color: var(--color-selectables-active)

  // &:active
  //   color: var(--color-selectables-blue)
  //   background-color: var(--color-deeperblack)
  //   border-color: var(--color-selectables-blue)

  &:disabled
    color: var(--color-vantablack)
    background-color: var(--color-selectables-disabled)
    border-color: var(--color-vantablack)
    cursor: not-allowed

    &:hover, &:focus
      color: var(--color-vantablack)
      background-color: var(--color-selectables-disabled)
      border-color: var(--color-vantablack)

  & > svg
    margin: .25rem

code, pre
  font-family: 'Fira Code'

  & > *
    margin: 0

input
  color: #FFF
  background-color: #000
  border: 4px solid #333
  border-radius: 1rem
  font-family: 'Ubuntu Sans'
  font-size: 1.2rem
  transition: color .25s, background-color .25s, border-color .25s

  &:hover, &:focus
    color: #000
    border-color: #EEE
    background-color: #FFF

  &[type=submit]
    color: var(--color-vantablack)
    font-weight: bold
    font-size: 1.2rem
    background-color: var(--color-selectables-idle)
    border: 0
    border-radius: 1rem
    cursor: pointer
    padding: .2rem

  &[type=submit]:hover, &[type=submit]:focus
    color: #FFF
    background-color: #000

textarea
  color: #FFF
  background-color: #000
  border: 4px solid #333
  border-radius: 1rem
  font-family: 'Ubuntu Mono'
  font-size: 1.1rem
  padding: .5rem
  transition: color .25s, background-color .25s, border-color .25s
  resize: none

  &:hover, &:focus
    color: #000
    border-color: #EEE
    background-color: #FFF


html 
  color: var(--color-brightwhite)
  background-color: var(--color-vantablack)
  height: 100%


body 
  font-family: Victor Mono, sans-serif
  margin: 0
  height: 100%

h1, h2, h3, h4, h5, h6
  font-family: 'Victor Mono'
  font-style: italic

#accessibility
  font-family: 'Ubuntu Sans'
  font-weight: bold
  font-size: 1.2rem

  & > section > div
    margin-bottom: 1rem

#navigator
  display: flex
  justify-content: space-evenly
  border-top: 4px solid var(--color-deepblack)
  box-shadow: #000 0 0 1rem
  z-index: 1

  & > a
    display: flex
    flex-direction: column
    flex-grow: 1
    justify-content: center
    align-items: center
    padding: .2rem

    &::before
      content: unset
    &::after
      content: unset

    &:nth-child(1)
      color: var(--color-selectables-purple)
      &:hover, &:focus
        color: var(--color-vantablack)
        background-color: var(--color-selectables-purple)

    &:nth-child(2)
      color: var(--color-selectables-pink)
      &:hover, &:focus
        color: var(--color-vantablack)
        background-color: var(--color-selectables-pink)

    &:nth-child(3)
      color: var(--color-selectables-red)
      &:hover, &:focus
        color: var(--color-vantablack)
        background-color: var(--color-selectables-red)

    &:nth-child(4)
      color: var(--color-selectables-orange)
      &:hover, &:focus
        color: var(--color-vantablack)
        background-color: var(--color-selectables-orange)
    
    &:nth-child(5)
      color: var(--color-selectables-yellow)
      &:hover, &:focus
        color: var(--color-vantablack)
        background-color: var(--color-selectables-yellow)

    &:nth-child(6)
      color: var(--color-selectables-green)
      &:hover, &:focus
        color: var(--color-vantablack)
        background-color: var(--color-selectables-green)
    
    &:nth-child(7)
      color: var(--color-selectables-teal)
      &:hover, &:focus
        color: var(--color-vantablack)
        background-color: var(--color-selectables-teal)

    &:nth-child(8)
      color: var(--color-selectables-blue)
      &:hover, &:focus
        color: var(--color-vantablack)
        background-color: var(--color-selectables-blue)

.tooltip
  display: inline-block
  position: relative
  cursor: help

  & > span
    color: #AAA
    position: absolute
    visibility: hidden
    opacity: 0
    right: -175%
    bottom: 22%
    z-index: 1
    transition: opacity .3s

  &:hover span, &:active span, &:focus
    visibility: visible
    opacity: 1

.suspense
  color: var(--color-vantablack)
  font-family: Flow Circular
  font-size: 2rem
  animation: 1s ease-in-out suspense infinite both
  animation-name: suspense
  user-select: none

@keyframes suspense
  0% 
    color: var(--color-vantablack)
  50% 
    color: var(--color-deepblack)
  100% 
    color: var(--color-vantablack)
